.crew-body {
  background-image: url("../starter-code/assets/crew/background-crew-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;
  text-align: left;
  overflow: hidden;
}

.crew-body .container {
  position: absolute;
  height: 70%;
  left: 0%;
  top: 58%;
  -webkit-transform: translate(25%, -50%);
          transform: translate(25%, -50%);
}

.crew-body .container .role {
  font-size: 2rem;
  opacity: 0.5;
  font-family: "Bellefair", serif;
  margin: 0.5em 0;
  letter-spacing: 1px;
}

.crew-body .container .heading {
  text-transform: uppercase;
  margin-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crew-body .container .heading p + p {
  margin-left: 0.8em;
  font-weight: 300;
}

.crew-body .container .heading p {
  font-size: 2rem;
}

.crew-body .container .heading p:nth-child(1) {
  opacity: 0.25;
  font-weight: 600;
}

.crew-body .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  height: 100%;
}

.crew-body .container .content .img-line {
  display: none;
  width: 80%;
  height: 0.25vh;
  background-color: #3c3c3c;
  z-index: 1;
}

.crew-body .container .content .sub-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding-bottom: 0.5em;
  bottom: 0;
}

.crew-body .container .content .sub-nav div {
  cursor: pointer;
  margin-right: 1.75em;
  position: relative;
  border-radius: 50%;
  height: 0.9rem;
  aspect-ratio: 1/1;
  background-color: white;
  opacity: 0.3;
}

.crew-body .container .content .sub-nav div:hover {
  opacity: 0.5;
}

.crew-body .container .content .sub-nav .active-crew {
  opacity: 1;
}

.crew-body .container .content .title {
  width: 100%;
  overflow: hidden;
}

.crew-body .container .content .title p {
  margin: 0;
  font-family: "Bellefair", serif;
  font-size: 4em;
}

.crew-body .container .content .desc {
  width: 55%;
  overflow: hidden;
}

.crew-body .container .content .desc p {
  font-size: 1.5em;
  margin-top: 1em;
  font-weight: 200;
  letter-spacing: 1.5px;
  line-height: 1.5;
  color: #d0d6f9;
}

.crew-body .container .content .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crew-body .container .content .info .sub {
  font-family: "Barlow Condensed", sans-serif;
  margin-bottom: 1em;
  font-size: 12px;
}

.crew-body .container .content .info .value {
  overflow: hidden;
  height: 3vh;
  margin-bottom: 0;
}

.crew-body .container .content .info .value p {
  margin: 0;
  padding: 0;
  font-family: "Bellefair", serif;
  font-size: 20px;
  font-weight: 200;
}

.crew-body img.large {
  position: absolute;
  bottom: 0;
  left: 58%;
  height: 72vh;
}

.crew-body .small {
  display: none;
}

.crew-body .small-nav {
  display: none;
}

.line {
  width: 36%;
  height: 0.25vh;
  background-color: #3c3c3c;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
  z-index: 1;
}
/*# sourceMappingURL=Crew.css.map */