.dest-body {
  background-image: url("../starter-code/assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;
  text-align: left;
  overflow-x: hidden;
}

.dest-body .container {
  position: absolute;
  height: 70%;
  left: 0;
  top: 55%;
  -webkit-transform: translate(15%, -50%);
          transform: translate(15%, -50%);
}

.dest-body .container .heading {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dest-body .container .heading p + p {
  margin-left: 0.8em;
  font-weight: 300;
}

.dest-body .container .heading p {
  font-size: 2rem;
}

.dest-body .container .heading p:nth-child(1) {
  opacity: 0.25;
  font-weight: 600;
}

.dest-body .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
}

.dest-body .container .content .left {
  overflow: hidden;
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dest-body .container .content .left img {
  height: 50vh;
}

.dest-body .container .content .right {
  width: 45vw;
  height: 100%;
  margin-left: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  padding-top: 35px;
  font-size: 22px;
}

.dest-body .container .content .right div {
  width: 78%;
}

.dest-body .container .content .right .sub-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.5em;
}

.dest-body .container .content .right .sub-nav p {
  cursor: pointer;
  color: #d0d6f9;
  margin-right: 1em;
  position: relative;
}

.dest-body .container .content .right .sub-nav p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.75em;
  width: 100%;
  height: 2px;
  background: #969696;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 200ms ease-in;
  transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
}

.dest-body .container .content .right .sub-nav p:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.dest-body .container .content .right .sub-nav .active-dest::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.dest-body .container .content .right .title {
  overflow: hidden;
}

.dest-body .container .content .right .title p {
  margin: 0;
  font-family: "Bellefair", serif;
  font-size: 5em;
}

.dest-body .container .content .right .desc {
  overflow: hidden;
}

.dest-body .container .content .right .desc p {
  font-size: 1.2em;
  margin: 5px;
  font-weight: 200;
  letter-spacing: 1.5px;
  line-height: 1.5;
  color: #d0d6f9;
}

.dest-body .container .content .right .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3em;
}

.dest-body .container .content .right .info .sub {
  font-family: "Barlow Condensed", sans-serif;
  margin-bottom: 1em;
  font-size: 0.6em;
  color: #d0d6f9;
}

.dest-body .container .content .right .info .value {
  overflow: hidden;
  height: 3vh;
  margin-bottom: 0;
}

.dest-body .container .content .right .info .value p {
  margin: 0;
  padding: 0;
  font-family: "Bellefair", serif;
  font-size: 1.1em;
  font-weight: 200;
}

.line {
  width: 36%;
  height: 0.25vh;
  background-color: #3c3c3c;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
  z-index: 1;
}
/*# sourceMappingURL=Destination.css.map */