@mixin flex($jc: center) {
  display: flex;
  justify-content: $jc;
  align-items: center;
}

.home-body {
  background-image: url("../starter-code/assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: absolute;
  color: white;
  text-align: left;
  // padding: 9.5rem 0 0 10rem;
  padding: 0rem 10rem 8rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .left {
    width: 40%;
    p {
      margin: 0;
      padding: 0;
    }
    .medium {
      font-family: "Barlow Condensed", sans-serif;
      font-size: 2.25em;
      text-transform: uppercase;
      letter-spacing: 4.75px;
      font-weight: 200;
      margin-bottom: 7.5px;
      color: #d0d6f9;
    }
    .big {
      font-family: "Bellefair", serif;
      font-size: 11em;
      text-transform: uppercase;
      margin-bottom: 7.5px;
    }
    .small {
      font-size: 1.75em;
      font-family: "Barlow Condensed", sans-serif;
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 1.75;
      color: #d0d6f9;
    }
  }
  .right {
    // width: 35%;
    position: relative;
    @include flex(left);
    .button {
      @include flex(center);
      // position: absolute;
      z-index: 0;
      background-color: white;
      width: 20em;
      height: 20em;
      border-radius: 50%;
      transition: box-shadow 250ms ease-in;
      margin-right: 7.5em;
      a {
        position: relative;
        font-family: "Bellefair", serif;
        font-weight: 400;
        font-size: 2.75rem;
        color: black;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 0 5em rgba(40, 45, 53, 0.957);
      }
    }
  }
}
