@mixin flex($jc: center) {
  display: flex;
  justify-content: $jc;
  align-items: center;
}

.home {
  background-image: url("../starter-code/assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: absolute;
  color: white;
  text-align: left;
  padding: 9.5rem 0 0 10rem;
  @include flex(space-between);
  .left {
    width: 33%;
    p {
      margin: 0;
      padding: 0;
    }
    .medium {
      font-family: "Barlow Condensed", sans-serif;
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 4.75px;
      font-weight: 200;
      margin-bottom: 7.5px;
      color: #d0d6f9;
    }
    .big {
      font-family: "Bellefair", serif;
      font-size: 120px;
      text-transform: uppercase;
      margin-bottom: 7.5px;
    }
    .small {
      font-size: 14px;
      font-family: "Barlow Condensed", sans-serif;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 1.75;
      color: #d0d6f9;
    }
  }
  .right {
    width: 35%;
    .button {
      position: absolute;
      z-index: 0;
      margin-bottom: -50px;
      background-color: white;
      width: 12.5em;
      height: 12.5em;
      border-radius: 50%;
      transform: translateY(-60px);
      transition: box-shadow 250ms ease-in;
      @include flex(center);
      a {
        position: relative;
        font-family: "Bellefair", serif;
        font-weight: 400;
        font-size: 25px;
        color: black;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 0 55px rgba(40, 45, 53, 0.957);
      }
    }
  }
}
