@mixin flex($jc: center) {
  display: flex;
  justify-content: $jc;
  align-items: center;
}

.home {
  position: absolute;
  color: white;
  width: 100vw;
  bottom: 10vh;
  text-align: left;
  padding: 0 0 3rem 12rem;
  @include flex(space-between);
  .left {
    width: 35%;
    p {
      margin: 0;
      padding: 0;
    }
    .medium {
      font-family: "Barlow Condensed", sans-serif;
      font-size: 28px;
      text-transform: uppercase;
    }
    .big {
      font-family: "Bellefair", serif;
      font-size: 150px;
      text-transform: uppercase;
    }
    .small {
      font-family: "Barlow Condensed", sans-serif;
      font-weight: lighter;
    }
  }
  .right {
    width: 35%;
    a {
      color: white;
    }
  }
}
