@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Merriweather:wght@300;400;700&family=Roboto:wght@100;300;400&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400&family=Merriweather:wght@300;400;700&family=Roboto:wght@100;300;400&family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.175rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.App {
  margin: 0;
  padding: 0;
}

.nav {
  top: 0;
  left: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0 0 1rem;
  width: calc(100% - 2.5em);
  z-index: 2;
}

.nav .ham-options {
  display: none;
}

.nav .ham-options .ham {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  z-index: 5;
}

.nav ul {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em 15em 1.5em 8.5em;
  background: rgba(66, 65, 65, 0.4);
  -webkit-backdrop-filter: saturate(180%) blur(40px);
          backdrop-filter: saturate(180%) blur(40px);
  position: relative;
}

.nav ul li a {
  font-size: 1.2rem;
  position: relative;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: lighter;
}

.nav ul li a .no {
  margin-right: 0.5em;
  font-weight: bold;
}

.nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.5em;
  width: 100%;
  height: 3px;
  background: #969696;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 200ms ease-in;
  transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
}

.nav ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav ul li a:active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav ul li + li {
  margin-left: 5em;
}

.nav .line {
  width: 40%;
  height: 0.25vh;
  background-color: #3c3c3c;
  -webkit-transform: translate(3em, -5px);
          transform: translate(3em, -5px);
  z-index: 1;
}

.home-1 a::after,
.dest-2 a::after,
.crew-3 a::after,
.tech-4 a::after {
  -webkit-transform: scaleX(1) !important;
          transform: scaleX(1) !important;
  background-color: white !important;
}
/*# sourceMappingURL=Nav.css.map */