@mixin flex($jc: center) {
  display: flex;
  justify-content: $jc;
  align-items: center;
}

.tech-body {
  background-image: url("../starter-code/assets/technology/background-technology-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  // background-size: 100vw;
  width: 100vw;
  height: 100vh;
  color: white;
  text-align: left;
  overflow: hidden;
  .container {
    position: absolute;
    height: 70%;
    left: 0%;
    top: 58%;
    transform: translate(25%, -50%);
    .role {
      text-transform: uppercase;
      opacity: 0.5;
      margin: 0.5em 0;
    }
    .heading {
      text-transform: uppercase;
      margin-bottom: 3em;
      @include flex(flex-start);
      p + p {
        margin-left: 0.8em;
        font-weight: 300;
      }
      p {
        font-size: 1.25rem;
      }
      p:nth-child(1) {
        opacity: 0.25;
        font-weight: 600;
      }
    }
    .sub-nav {
      position: relative;
      padding-bottom: 0.5em;
      bottom: 0;
      div {
        position: relative;
        @include flex(center);
        font-size: 1.85rem;
        padding: 1em;
        cursor: pointer;
        margin-bottom: 0.9em;
        margin-right: 2em;
        border-radius: 50%;
        aspect-ratio: 1/1;
        color: white;
        // background-color: white;
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        p {
          font-family: "Bellefair", serif;
          text-align: center;
          position: absolute;
          //   letter-spacing: 1;
          //   line-height: 1;
          margin: 0;
          padding: 0;
          margin-left: 0.1em;
        }
        &:hover {
          border: 1px solid rgba(255, 255, 255, 1);
        }
      }
      .active {
        background-color: white;
        border: 1px solid rgba(255, 255, 255, 1);
        color: black;
      }
    }
    .content {
      display: flex;
      width: 50vw;
      height: 100%;
      .title {
        width: 100%;
        overflow: hidden;
        p {
          margin: 0;
          font-family: "Bellefair", serif;
          font-size: 3rem;
        }
      }
      .desc {
        width: 70%;
        overflow: hidden;
        p {
          margin: 5px;
          font-weight: 200;
          letter-spacing: 1.5px;
          line-height: 1.5;
          color: #d0d6f9;
        }
      }
      .info {
        @include flex(center);
        .sub {
          font-family: "Barlow Condensed", sans-serif;
          margin-bottom: 1em;
          font-size: 12px;
        }
        .value {
          overflow: hidden;
          height: 3vh;
          margin-bottom: 0;
          // padding: 0;
          p {
            margin: 0;
            padding: 0;
            font-family: "Bellefair", serif;
            font-size: 20px;
            font-weight: 200;
          }
        }
      }
    }
  }
  img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-30%);
    height: 62vh;
  }
}

.line {
  width: 36%;
  height: 0.25vh;
  background-color: rgb(60, 60, 60);
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
  z-index: 1;
}
